#foto{
    background-image: url;

    width: 33%;
    height: auto;
}
header{
    display: flex;
    justify-content: center;
}
#titulo{
    color: blueviolet;
    font-size: 2.4vw;
}
.border{
    border-bottom: 2px solid red;
    margin: 10px 88vw 10px 10px;
}