*{
    margin: 0;
    padding: 0;
}
h1{
    color: yellow;
    padding-bottom: 20px;
    margin-top: 2vh;
    margin-left: 2vw;
}
h4{
    background-color: antiquewhite;
    width: 10vw;
    margin-bottom: 20px;
    margin-left: 5vw;
}
p{
    margin-left: 5vw;
    margin-right: 20vw;
    margin-top: 2vh;
}
span {
    color: coral;
}
#img{
    background-color: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ccZN1qFPXgHsGbZqKluRDUf86E8e6SyY4g&s);
    width: 500px;
    height: auto;
    color: yellow;
}